@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a La Escuela PrimeStone</h1>
  <img src="~/img/Inicio.jpg" height="400" width="400" />

</div>
